h1 {
  font-size: 2.25rem;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

h5 {
  font-size: 1.125rem;
  font-weight: 500;
}

.container {
  width: 75%;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.flex-center, .gongCha-menu .menu-list, header .container nav .main-menu, header .container {
  display: flex;
  align-items: center;
}

.after, .gongCha-menu .menu-list .wrap .list li span::after, header .container nav .main-menu > li::after {
  display: block;
  content: "";
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.after-hover, .gongCha-menu .menu-list .wrap .list li span:hover::after, header .container nav .main-menu > li:hover::after {
  transform: scaleX(1);
}

.text-center {
  text-align: center;
}

header {
  width: 100%;
  height: 7.5rem;
  position: fixed;
  z-index: 9;
}
header .container {
  height: 100%;
}
header .container h1 {
  position: absolute;
}
header .container h1 span {
  position: absolute;
  clip: rect(0px, 0px, 0px, 0px);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
header .container nav {
  font-size: 1.125rem;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}
header .container nav .main-menu > li:last-child {
  color: #b81b2d;
}
header .container nav .main-menu > li {
  position: relative;
  width: 15%;
}
header .container nav .main-menu > li > a {
  line-height: 7.5rem;
  text-decoration: none;
}
header .container nav .main-menu > li:hover > a {
  font-weight: bold;
}
header .container nav .main-menu > li::after {
  border-bottom: solid 3px #b81b2d;
}
header .container nav .sub-menu {
  width: 100%;
  height: 18.75rem;
  padding: 1.5rem 0;
  font-size: 1rem;
  color: white;
  position: absolute;
}
header .container nav .sub-menu > li {
  padding-bottom: 1.5rem;
}
header .container nav .sub-menu > li:last-child {
  padding: 0;
}
header .container nav .sub-menu > li:hover {
  color: #b81b2d;
}
header .menu-icon {
  width: 2rem;
  height: 2rem;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/icon/menu.svg") center/cover;
  position: absolute;
  right: 20px;
  display: none;
}

header::after {
  display: block;
  content: "";
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: height 0.3s ease;
}

.after-visible::after {
  height: 18.75rem;
}

main {
  height: 10000px;
}

.main-carousel {
  height: calc(100vh - 1%);
  overflow: hidden;
  overflow: hidden;
}
.main-carousel .post-wrapper {
  height: 100%;
  overflow: hidden;
}
.main-carousel .post-wrapper .swiper {
  height: 100%;
}
.main-carousel .post-wrapper .swiper .swiper-wrapper {
  height: 100%;
}
.main-carousel .post-wrapper .swiper .swiper-wrapper .swiper-slide .slideImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-carousel .swiper {
  height: 100%;
}
.main-carousel .swiper .swiper-wrapper {
  height: 100%;
}
.main-carousel .swiper .swiper-wrapper .swiper-slide .slideImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  font-size: 2.25rem;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

h5 {
  font-size: 1.125rem;
  font-weight: 500;
}

.container {
  width: 75%;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.flex-center, .gongCha-menu .menu-list, header .container, header .container nav .main-menu {
  display: flex;
  align-items: center;
}

.after, .gongCha-menu .menu-list .wrap .list li span::after, header .container nav .main-menu > li::after {
  display: block;
  content: "";
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.after-hover, .gongCha-menu .menu-list .wrap .list li span:hover::after, header .container nav .main-menu > li:hover::after {
  transform: scaleX(1);
}

.text-center {
  text-align: center;
}

.gongCha-menu {
  height: 42.5rem;
  color: #fff;
}
.gongCha-menu .container {
  display: flex;
  height: 100%;
}
.gongCha-menu .menu-list {
  width: 28%;
  background-color: #b81b2d;
  justify-content: center;
}
.gongCha-menu .menu-list .wrap h1 {
  margin-bottom: 2.625rem;
}
.gongCha-menu .menu-list .wrap .list li {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.gongCha-menu .menu-list .wrap .list li span {
  position: relative;
  display: inline-block;
}
.gongCha-menu .menu-list .wrap .list li span::after {
  border-bottom: solid 3px #fff;
  margin-top: 0.3125rem;
}
.gongCha-menu .menu-list .wrap .list li span:hover {
  font-weight: bold;
}
.gongCha-menu .menu-list .wrap .list li span.click {
  border-bottom: solid 3px #fff;
  margin-top: 0.3125rem;
}
.gongCha-menu .menu-list .wrap .viewMore {
  cursor: pointer;
  margin-bottom: 2.625rem;
}
.gongCha-menu .menu-list .wrap .viewMore span {
  margin-right: 0.625rem;
}
.gongCha-menu .menu-list .wrap .viewMore img {
  vertical-align: middle;
}
.gongCha-menu .menu-list .wrap .viewMore:hover {
  font-weight: bold;
}
.gongCha-menu .menu-description {
  width: 72%;
  display: flex;
  align-items: center;
  color: #202020;
  overflow: hidden;
}
.gongCha-menu .menu-description .swiper .swiper-slide {
  display: flex;
  justify-content: center;
}
.gongCha-menu .menu-description .swiper .swiper-slide .description {
  opacity: 0;
  transition: opacity 0.3s;
}
.gongCha-menu .menu-description .swiper .swiper-slide .description h4 {
  margin: 1rem 0;
}
.gongCha-menu .menu-description .swiper .swiper-slide .description p {
  line-height: 1.6;
  margin: 1rem 0;
}
.gongCha-menu .menu-description .swiper .swiper-slide .description .rating {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.gongCha-menu .menu-description .swiper .swiper-slide .description .rating span {
  color: #a6a6a6;
  width: 15%;
  margin-right: 0.9375rem;
}
.gongCha-menu .menu-description .swiper .swiper-slide .description .rating ul {
  display: flex;
  gap: 0.5rem;
}
.gongCha-menu .menu-description .swiper .swiper-slide .description .rating ul li {
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: #a6a6a6;
  border-radius: 50%;
}
.gongCha-menu .menu-description .swiper .swiper-slide.swiper-slide-active .description {
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000000;
}

.swiper-button-next {
  left: 65%;
}

.swiper-button-prev {
  right: unset;
  left: 30%;
}

.swiper-horizontal > .swiper-pagination-progressbar {
  width: 50%;
}

h1 {
  font-size: 2.25rem;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

h5 {
  font-size: 1.125rem;
  font-weight: 500;
}

.container {
  width: 75%;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.flex-center, header .container, header .container nav .main-menu, .gongCha-menu .menu-list {
  display: flex;
  align-items: center;
}

.after, header .container nav .main-menu > li::after, .gongCha-menu .menu-list .wrap .list li span::after {
  display: block;
  content: "";
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.after-hover, header .container nav .main-menu > li:hover::after, .gongCha-menu .menu-list .wrap .list li span:hover::after {
  transform: scaleX(1);
}

.text-center {
  text-align: center;
}

.order {
  background-color: #fefcf6;
  height: 50rem;
  display: flex;
}
.order .container {
  height: 80%;
  margin: auto;
}
.order .container .text {
  text-align: center;
}
.order .container .text h1 {
  margin-bottom: 1.5rem;
}
.order .container .text p {
  line-height: 1.6;
}
.order .container .text::after {
  display: block;
  content: "";
  background-color: #000;
  width: 100%;
  height: 0.0625rem;
  margin: 2rem 0;
}
.order .container .explan {
  text-align: center;
  height: 60%;
}
.order .container .explan h1 {
  margin-bottom: 2rem;
}
.order .container .explan > div {
  height: 100%;
}
.order .container .explan > div ul {
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.order .container .explan > div ul li {
  width: 15.625rem;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #000;
  border-radius: 1.875rem;
}
.order .container .explan > div ul li .card img {
  padding: 4.375rem 0 3rem 0;
  border-bottom: 0.0625rem solid #000;
  transition: 0.3s;
}
.order .container .explan > div ul li .card > div {
  margin-top: 1.75rem;
  text-align: left;
}
.order .container .explan > div ul li .card > div span {
  margin-bottom: 0.5rem;
}
.order .container .explan > div ul li .card > div h4 {
  line-height: 1;
  margin-bottom: 0.5rem;
}
.order .container .explan > div ul li .card > div p {
  opacity: 0;
  transition: 0.3s;
}
.order .container .explan > div ul li:hover .card img {
  padding: 1.75rem 0 2rem 0;
}
.order .container .explan > div ul li:hover .card p {
  opacity: 1;
}

footer {
  background: #575757;
  height: 24rem;
}

h1 {
  font-size: 2.25rem;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

h5 {
  font-size: 1.125rem;
  font-weight: 500;
}

.container {
  width: 75%;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.flex-center, header .container, header .container nav .main-menu, .gongCha-menu .menu-list {
  display: flex;
  align-items: center;
}

.after, header .container nav .main-menu > li::after, .gongCha-menu .menu-list .wrap .list li span::after {
  display: block;
  content: "";
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.after-hover, header .container nav .main-menu > li:hover::after, .gongCha-menu .menu-list .wrap .list li span:hover::after {
  transform: scaleX(1);
}

.text-center {
  text-align: center;
}

@media (min-width: 64rem) and (max-width: 112.4375rem) {
  .gongCha-menu .container .menu-list .wrap {
    padding: 1.25rem;
    font-weight: bold;
  }
  .gongCha-menu .container .menu-list .wrap h1 {
    line-height: 1;
  }
  .gongCha-menu .container .menu-description .swiper .swiper-slide .description h4 {
    line-height: 1;
  }
}
@media (max-width: 64rem) {
  header {
    height: 6.25rem;
  }
  header .container {
    width: 100%;
    height: 100%;
  }
  header .container h1 img {
    width: 3.75rem;
  }
  header .container nav {
    display: none;
  }
  header .container .menu-icon {
    display: block;
  }
  .gongCha-menu {
    width: 100%;
  }
  .gongCha-menu .container {
    width: 100%;
    padding: 0;
    flex-direction: column;
  }
  .gongCha-menu .container .menu-list {
    padding: 1.5625rem 1.25rem;
    width: 100%;
  }
  .gongCha-menu .container .menu-list .wrap {
    text-align: center;
    width: 100%;
  }
  .gongCha-menu .container .menu-list .wrap .list {
    display: flex;
  }
  .gongCha-menu .container .menu-list .wrap .list li {
    width: 25%;
    margin-bottom: 0;
  }
  .gongCha-menu .container .menu-list .wrap .viewMore {
    display: none;
  }
  .gongCha-menu .container .menu-description {
    width: 100%;
    padding: 1.25rem 0;
  }
  .gongCha-menu .container .menu-description .swiper .swiper-button-next,
  .gongCha-menu .container .menu-description .swiper .swiper-button-prev,
  .gongCha-menu .container .menu-description .swiper .swiper-pagination {
    display: none;
  }
  .gongCha-menu .container .menu-description .swiper .swiper-slide img {
    width: 12.5rem;
  }
  .order .container .explan {
    text-align: center;
  }
  .order .container .explan > div {
    height: 100%;
  }
  .order .container .explan > div ul {
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    height: 33.3333333333%;
    gap: 32px;
  }
  .order .container .explan > div ul li {
    width: 100%;
    display: block;
  }
  .order .container .explan > div ul li .card {
    padding: 0 20px;
  }
  .order .container .explan > div ul li .card img {
    display: none;
  }
  .order .container .explan > div ul li .card > div {
    margin-top: 2rem;
    text-align: left;
  }
  .order .container .explan > div ul li .card > div span {
    margin-bottom: 1rem;
  }
  .order .container .explan > div ul li .card > div h4 {
    line-height: 1;
    margin-bottom: 0.5rem;
  }
  .order .container .explan > div ul li .card > div p {
    opacity: 0;
    transition: 0.3s;
  }
  .order .container .explan > div ul li:hover .card img {
    padding: 1.75rem 0 2rem 0;
  }
  .order .container .explan > div ul li:hover .card p {
    opacity: 1;
  }
}
@media (max-width: 45rem) {
  header {
    height: 3.75rem;
  }
  header .container {
    height: 100%;
  }
  header .container h1 img {
    width: 2.5rem;
  }
  header .container .menu-icon {
    width: 1.75rem;
    height: 1.75rem;
  }
  .gongCha-menu {
    height: auto;
  }
  .gongCha-menu .container .menu-list .wrap h1 {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
  }
  .gongCha-menu .container .menu-list .wrap .list li {
    font-size: 1rem;
  }
  .gongCha-menu .container .menu-description .swiper .swiper-slide .description h4 {
    font-size: 1rem;
  }
  .gongCha-menu .container .menu-description .swiper .swiper-slide .description p {
    font-size: 0.75rem;
  }
  .gongCha-menu .container .menu-description .swiper .swiper-slide .description .rating span {
    font-size: 0.75rem;
  }
  .gongCha-menu .container .menu-description .swiper .swiper-slide .description .rating ul li {
    width: 0.625rem;
    height: 0.625rem;
  }
}