@import 'mixin';

$padding-layout: 0 1.25rem;

.wrap {
  width: 78.46%;
  margin: 0 auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.flex-dox {
  display: flex;
  align-items: center;
}

@include tablet {
  header {
    font-size: 0.625rem;
  }
}
