h1 {
   font-size: 2.25rem;
   font-weight: 500;
}

h2 {
   font-size: 2rem;
   font-weight: bold;
}

h3 {
   font-size: 1.75rem;
   font-weight: 500;
}

h4 {
   font-size: 1.5rem;
   font-weight: bold;
}

h5 {
   font-size: 1.125rem;
   font-weight: 500;
}

.container {
   width: 75%;
   padding: 0 1.25rem;
   margin: 0 auto;
}

.flex-center {
   display: flex;
   align-items: center;
}

.after {
   display: block;
   content: '';
   transform: scaleX(0);
   transition: transform 250ms ease-in-out;
}
.after-hover {
   transform: scaleX(1);
}
