@import './mixin';

.main-carousel {
   @include slider {
      overflow: hidden;
      .swiper-wrapper {
         height: 100%;
         .swiper-slide {
            .slideImg {
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }
      }
   }
}
