@import 'mixin';
@import 'common';

.gongCha-menu {
   height: 42.5rem;
   color: #fff;
   .container {
      display: flex;

      height: 100%;
   }
   .menu-list {
      width: 28%;
      background-color: $main-color;
      @extend .flex-center;
      justify-content: center;

      .wrap {
         h1 {
            margin-bottom: 2.625rem;
         }

         .list {
            li {
               font-size: $h5-font-size;
               margin-bottom: 1.5rem;
               cursor: pointer;

               span {
                  position: relative;
                  display: inline-block;
                  &::after {
                     @extend .after;
                     border-bottom: solid 3px #fff;
                     margin-top: 0.3125rem;
                  }

                  &:hover::after {
                     @extend .after-hover;
                  }
                  &:hover {
                     font-weight: bold;
                  }
               }
               span.click {
                  border-bottom: solid 3px #fff;
                  margin-top: 0.3125rem;
               }
            }
         }

         .viewMore {
            cursor: pointer;
            margin-bottom: 2.625rem;
            span {
               margin-right: 0.625rem;
            }
            img {
               vertical-align: middle;
            }
            &:hover {
               font-weight: bold;
            }
         }
      }
   }

   .menu-description {
      width: 72%;
      display: flex;
      align-items: center;
      color: #202020;
      overflow: hidden;
      .swiper {
         .swiper-slide {
            display: flex;
            justify-content: center;

            .description {
               opacity: 0;
               transition: opacity 0.3s;
               h4 {
                  margin: 1rem 0;
               }
               p {
                  line-height: 1.6;
                  margin: 1rem 0;
               }

               .rating {
                  display: flex;
                  align-items: center;
                  margin-bottom: 0.5rem;
                  span {
                     color: #a6a6a6;
                     width: 15%;
                     margin-right: 0.9375rem;
                  }
                  ul {
                     display: flex;
                     gap: 0.5rem;
                     li {
                        width: 0.9375rem;
                        height: 0.9375rem;
                        background-color: #a6a6a6;
                        border-radius: 50%;
                     }
                  }
               }
            }
            &.swiper-slide-active {
               .description {
                  opacity: 1;
               }
            }
         }
      }
   }
}

.swiper-button-next,
.swiper-button-prev {
   color: #000000;
}

.swiper-button-next {
   left: 65%;
}
.swiper-button-prev {
   right: unset;
   left: 30%;
}
.swiper-horizontal > .swiper-pagination-progressbar {
   width: 50%;
}
