.store {
   .container {
      display: flex;
      span {
         display: inline-block;
         margin-top: 3.5rem;
         font-size: 3.75rem;
         font-weight: bold;
      }
      .store-search {
         width: 45%;
      }
      .app-promotion {
         width: 65%;
         background-color: $sub-green;
         span {
            color: #fff;
         }
      }
   }
}
